.env
node_modules
dist/
build/
out/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Logs
# ===============================
logs/
*.log


